* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --color-primary: #0f0f0f;
  --color-secondary: #3f3f3f;
  --color-brand: #fe0001;
  --color-blue: #3ea6ff;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  line-height: 1.5;
  font-size: 1.6rem;
  background-color: var(--color-primary);
  color: #fff;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
